body{
    background: skyblue;
}
.container{
    width: 95%;
    height: 90vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter{
    border: 3px solid black;
    width: 600px;
    height: 350px;
    margin: auto;
    padding: 25px;
    text-align: center;
    background: pink;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 42px;
    margin-bottom: 50px;
}
#count{
    font-size: 70px;
    margin-bottom: 50px;
}
.btn{
    margin-bottom: 40px;
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    background: skyblue;
    margin-left: 30px;
    cursor: pointer;
}
.btn:hover{
    background: palevioletred;
}